@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes shake {
    25% {
        transform: rotate(45deg);
    }
    75% {
        transform: rotate(-45deg);
    }
}

.AnimateHappy {
    animation-name: rotate;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.AnimateAngry {
    animation-name: shake;
    animation-duration: 0.2s;
    animation-iteration-count: 3;
}